# Keep the source distribution in step with the wheel: ship the package, the
# license, the readme, and the security policy -- but not tests, fixtures, CI
# config, or build artefacts. (Tests are dev-only and the email fixtures contain
# password-shaped test data that has no place in a distributed artefact.)

include LICENSE
include README.md
include SECURITY.md
include pyproject.toml

prune tests
prune .github
prune dist
prune build

global-exclude *.py[cod]
global-exclude __pycache__
